
# Files created by markdown
vignettes/*.html
vignettes/*.md

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

# RStudio file
ISDSWorkshop.Rproj

inst/
